/* Write your CSS here */
.tab-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}
.tab-heading {
  color: #7b8794;
  font-family: roboto;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.active {
  color: #2563eb;
  border: solid #2563eb;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-family: roboto;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .tab-heading {
    font-size: 30px;
  }
  .active {
    font-size: 30px;
  }
}
